.nppy_testing/images*
.nppy_testing/seg*
.nppy_testing/br*
.repo_nppy
.riciannet/RicianNet/matconvnet-1.0-beta24
.riciannet/RicianNet/model
.riciannet/RicianNet/result
.riciannet/RicianNet/testdata
.riciannet/RicianNet/utilities
.riciannet/RicianNet/matconvnet-1.0-beta24.rar
.riciannet/RicianNet/README.md
.riciannet/RicianNet/Riciannet_deploy.prototxt
.riciannet/RicianNet/test_complex.m
.riciannet/RicianNet/.my_own_testing/*png
.vscode
envs/*/*
deep-image-prior/__pycache__
deep-image-prior/img_0
deep-image-prior/denoised.png
envs/mri_env.yml
.nppy_testing/raw_brains
deep-image-prior/results/*/ssim_results/*pdf
deep-image-prior/results/*/psnr_results/*pdf
deep-image-prior/results/*/loss_results/*pdf
deep-image-prior/compare_psnr.py
deep-image-prior/results/Subject_04/denoised_images/*png
deep-image-prior/results/*/csvs/*
deep-image-prior/results/*/csvs_old/*
deep-image-prior/results/*/denoised_images/*png
deep-image-prior/results/*/denoised_images_old/*png
deep-image-prior/kill_python.sh
deep-image-prior/results/Brain*/jsons/*json
deep-image-prior/Experiments_Phase_1.sh
deep-image-prior/.useful_scripts/exps.sh
deep-image-prior/.complex_test_data/Denoising Results.txt
deep-image-prior/_test.py
deep-image-prior/rename.sh
deep-image-prior/results/Brain1/AAAAAANets/*
deep-image-prior/Exp*.sh
