.nppy_testing/images*
.nppy_testing/seg*
.nppy_testing/br*
.repo_nppy
.riciannet/RicianNet/matconvnet-1.0-beta24
.riciannet/RicianNet/model
.riciannet/RicianNet/result
.riciannet/RicianNet/testdata
.riciannet/RicianNet/utilities
.riciannet/RicianNet/matconvnet-1.0-beta24.rar
.riciannet/RicianNet/README.md
.riciannet/RicianNet/Riciannet_deploy.prototxt
.riciannet/RicianNet/test_complex.m
.riciannet/RicianNet/.my_own_testing/*png
.vscode
envs/*/*
__pycache__
img_0
denoised.png
envs/mri_env.yml
.nppy_testing/raw_brains
results/*/ssim_results/*pdf
results/*/psnr_results/*pdf
results/*/loss_results/*pdf
compare_psnr.py
results/Subject_04/denoised_images/*png
results/*/csvs/*
results/*/csvs_old/*
results/*/denoised_images/*png
results/*/denoised_images_old/*png
kill_python.sh
results/Brain*/jsons/*json
Experiments_Phase_1.sh
.useful_scripts/exps.sh
.complex_test_data/Denoising Results.txt
_test.py
rename.sh
results/Brain1/AAAAAANets/*
*.sh
results/*/test_denoised_images/*
results/*/ssim_images/*
results/*/test_ssim_images/*
results/*/test_jsons/*
results/Brain1/rician_jsons/*
results/Brain1/rician_ssim_images/*
results/Brain1/rician_test_denoised/*
results/Brain1/def_denoised/*
results/Brain1/def_ssim/*
results/Brain1/def_jsons/*
.results_server/__pycache__/*
results/*
dct_3_0.png
dct_3_1.png
dct_3_2.png
dct_3_3.png
dct_3_4.png
dct_3_5.png
dct_3_6.png
dct_3_7.png
dct_3_abs.png
grads_0.png
grads_1.png
grads_abs.png
kirsch_0.png
kirsch_1.png
kirsch_2.png
kirsch_3.png
kirsch_abs.png
prewitt_0.png
prewitt_1.png
prewitt_abs.png
sobel_0.png
sobel_1.png
sobel_abs.png
roberts_0.png
roberts_1.png
roberts_abs.png
apply_conv_gt.pdf
apply_conv_noisy.pdf
apply_conv_sub_1.pdf
apply_conv_sub.pdf
dct_filters_and_plot.pdf
non_local_filters_and_plot.pdf
barbara.jpg
denoised_RicianNet.png
denoised_Tag.png
noisy_slice_Brain1.png
noisy_slice.png
oldyoungwoman.png
Original_Mine.png
Prueba.png
scalar_field_cropped_192x192.png
slice_original_cropped_192x192.png
.brainweb_test_data/im_1/noisy_std0.20.png
.complex_test_data/masks/Brain1_160x128_44x_0y_mask.png
.brainweb_test_data/im_1/containate.py
.bessel_functions/approximating_in.py
.bessel_functions/plot_i0_and_i1.py
.bessel_functions/approximations/approx.pdf
.bessel_functions/approximations/errors.pdf
.bessel_functions/plots_of_actual_functions/plot_i0_and_i1.pdf
.bessel_functions/plots_of_actual_functions/ratio_i0_i1.pdf
.bessel_functions/plots_of_actual_functions/ratio_i1_i0.pdf
.bessel_functions/plots_of_actual_functions/ratio.pdf
.bessel_functions/plots_of_actual_functions/semilog_i0_and_i1.pdf
.bessel_functions/plots_of_actual_functions/semilog_ratio_i0_i1.pdf
.bessel_functions/plots_of_actual_functions/semilog_ratio_i1_i0.pdf
.bessel_functions/plots_of_actual_functions/semilog_ratio.pdf
.bessel_functions/logbessel_I.py
.bessel_functions/plot_fr.pdf
.bessel_functions/rician_to_rician_norm/my-project/media/Tex/*
.bessel_functions/rician_to_rician_norm/my-project/media/Tex/*
.bessel_functions/rician_to_rician_norm/my-project/media/videos/main/*/partial_movie_files/*/*.mp4
.bessel_functions/rician_to_rician_norm/my-project/media/videos/main/*/*.mp4
.bessel_functions/rician_to_rician_norm/media/Tex/*
/mnt/data_drive/hrodrigo/mri_rician_noise/.bessel_functions/rician_to_rician_norm/__pycache__/*
DenoisingofMagneticResonanceImageswithDeepNeuralRegularizerDrivenbyImagePrior-slice4.png
DenoisingofMagneticResonanceImageswithDeepNeuralRegularizerDrivenbyImagePrior-slice4.png_rois.png
DenoisingofMagneticResonanceImageswithDeepNeuralRegularizerDrivenbyImagePrior-slice4.png_with_rois.png
GHist.pdf
Gnoisy.png
.venv
Im7-Gaussian.png
Im7-Gaussian.png_rois.png
Im7-Gaussian.png_with_rois.png
Im7-RicianNet.png
Im7-RicianNet.png_rois.png
Im7-RicianNet.png_with_rois.png
Im7-RicianNormDCT.png
Im7-RicianNormDCT.png_rois.png
Im7-RicianNormDCT.png_with_rois.png
Im7-Std0.15.png
Im7-Std0.15.png_rois.png
Im7-Std0.15.png_with_rois.png
Rnoisy.png
roi_1.png
roi_2.png
roi_3.png
rois.png
