.nppy_testing/images*
.nppy_testing/seg*
.nppy_testing/br*
.repo_nppy
.riciannet/RicianNet/matconvnet-1.0-beta24
.riciannet/RicianNet/model
.riciannet/RicianNet/result
.riciannet/RicianNet/testdata
.riciannet/RicianNet/utilities
.riciannet/RicianNet/matconvnet-1.0-beta24.rar
.riciannet/RicianNet/README.md
.riciannet/RicianNet/Riciannet_deploy.prototxt
.riciannet/RicianNet/test_complex.m
.riciannet/RicianNet/.my_own_testing/*png
.vscode
envs/*/*
deep-image-prior/__pycache__
deep-image-prior/img_0
deep-image-prior/denoised.png
envs/mri_env.yml
.nppy_testing/raw_brains
deep-image-prior/results/*/ssim_results/*pdf
deep-image-prior/results/*/psnr_results/*pdf
deep-image-prior/results/*/loss_results/*pdf
deep-image-prior/compare_psnr.py
deep-image-prior/results/Subject_04/denoised_images/*png
deep-image-prior/results/*/csvs/*
deep-image-prior/results/*/csvs_old/*
deep-image-prior/results/*/denoised_images/*png
deep-image-prior/results/*/denoised_images_old/*png
deep-image-prior/kill_python.sh
deep-image-prior/results/Brain*/jsons/*json
deep-image-prior/Experiments_Phase_1.sh
deep-image-prior/.useful_scripts/exps.sh
deep-image-prior/.complex_test_data/Denoising Results.txt
deep-image-prior/_test.py
deep-image-prior/rename.sh
deep-image-prior/results/Brain1/AAAAAANets/*
deep-image-prior/*.sh
deep-image-prior/results/*/test_denoised_images/*
deep-image-prior/results/*/ssim_images/*
deep-image-prior/results/*/test_ssim_images/*
deep-image-prior/results/*/test_jsons/*
deep-image-prior/results/Brain1/rician_jsons/*
deep-image-prior/results/Brain1/rician_ssim_images/*
deep-image-prior/results/Brain1/rician_test_denoised/*
deep-image-prior/results/Brain1/def_denoised/*
deep-image-prior/results/Brain1/def_ssim/*
deep-image-prior/results/Brain1/def_jsons/*
.results_server/__pycache__/*
deep-image-prior/results/*
deep-image-prior/dct_3_0.png
deep-image-prior/dct_3_1.png
deep-image-prior/dct_3_2.png
deep-image-prior/dct_3_3.png
deep-image-prior/dct_3_4.png
deep-image-prior/dct_3_5.png
deep-image-prior/dct_3_6.png
deep-image-prior/dct_3_7.png
deep-image-prior/dct_3_abs.png
deep-image-prior/grads_0.png
deep-image-prior/grads_1.png
deep-image-prior/grads_abs.png
deep-image-prior/kirsch_0.png
deep-image-prior/kirsch_1.png
deep-image-prior/kirsch_2.png
deep-image-prior/kirsch_3.png
deep-image-prior/kirsch_abs.png
deep-image-prior/prewitt_0.png
deep-image-prior/prewitt_1.png
deep-image-prior/prewitt_abs.png
deep-image-prior/sobel_0.png
deep-image-prior/sobel_1.png
deep-image-prior/sobel_abs.png
deep-image-prior/roberts_0.png
deep-image-prior/roberts_1.png
deep-image-prior/roberts_abs.png
deep-image-prior/apply_conv_gt.pdf
deep-image-prior/apply_conv_noisy.pdf
deep-image-prior/apply_conv_sub_1.pdf
deep-image-prior/apply_conv_sub.pdf
deep-image-prior/dct_filters_and_plot.pdf
deep-image-prior/non_local_filters_and_plot.pdf
deep-image-prior/barbara.jpg
deep-image-prior/denoised_RicianNet.png
deep-image-prior/denoised_Tag.png
deep-image-prior/noisy_slice_Brain1.png
deep-image-prior/noisy_slice.png
deep-image-prior/oldyoungwoman.png
deep-image-prior/Original_Mine.png
deep-image-prior/Prueba.png
deep-image-prior/scalar_field_cropped_192x192.png
deep-image-prior/slice_original_cropped_192x192.png
deep-image-prior/.brainweb_test_data/im_1/noisy_std0.20.png
deep-image-prior/.complex_test_data/masks/Brain1_160x128_44x_0y_mask.png
deep-image-prior/.brainweb_test_data/im_1/containate.py
